*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: rgb(47, 38, 38);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h1{
    color: #fff;
    font-size: 4rem;
    position: absolute;
}
.container h1:before{
    content: "Scanning...";
    position: absolute;
    top: o;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    border-right: 4px solid red;
    box-shadow:0 0 10px 10px #ff0000;
    overflow: hidden;
    color: red;
    animation: scan 4s linear infinite;
}
@keyframes scan{
    0%, 10%, 100%{
        width: 0;
    }
    60%, 80%{
        width: 100%
    }
    
}